<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceClass</key>
	<string>iPhone</string>
	<key>DeviceMap</key>
	<array>
		<dict>
			<key>BDID</key>
			<integer>8</integer>
			<key>BoardConfig</key>
			<string>n94ap</string>
			<key>CPID</key>
			<integer>35136</integer>
			<key>Platform</key>
			<string>s5l8940x</string>
			<key>SCEP</key>
			<integer>17</integer>
		</dict>
	</array>
	<key>FirmwareDirectory</key>
	<string>Firmware</string>
	<key>KernelCachesByPlatform</key>
	<dict/>
	<key>KernelCachesByTarget</key>
	<dict>
		<key>n94</key>
		<dict>
			<key>Release</key>
			<string>kernelcache.release.n94</string>
		</dict>
	</dict>
	<key>MinimumSystemPartition</key>
	<dict>
		<key>038-3456-396.dmg</key>
		<integer>1571</integer>
	</dict>
	<key>ProductBuildVersion</key>
	<string>11A465</string>
	<key>ProductType</key>
	<string>iPhone4,1</string>
	<key>ProductVersion</key>
	<string>7.0</string>
	<key>RamDisksByPlatform</key>
	<dict>
		<key>s5l8940x</key>
		<dict>
			<key>Update</key>
			<string>038-3390-250.dmg</string>
			<key>User</key>
			<string>038-3465-251.dmg</string>
		</dict>
	</dict>
	<key>RestoreRamDisks</key>
	<dict>
		<key>Update</key>
		<string>038-3390-250.dmg</string>
		<key>User</key>
		<string>038-3465-251.dmg</string>
	</dict>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>134252864</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>134252864</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone4,1</string>
	</array>
	<key>SystemPartitionPadding</key>
	<dict>
		<key>n94</key>
		<dict>
			<key>128</key>
			<integer>1280</integer>
			<key>16</key>
			<integer>160</integer>
			<key>32</key>
			<integer>320</integer>
			<key>64</key>
			<integer>640</integer>
			<key>8</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>SystemRestoreImages</key>
	<dict>
		<key>User</key>
		<string>038-3456-396.dmg</string>
	</dict>
</dict>
</plist>
